<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.$51zhiyuan.development.kidbridge.dao.config">

    <!--获取参数配置信息-->
    <select id="get" parameterType="java.lang.String" resultType="Config">
        SELECT
            `config`.`id`,
            `config`.`key`,
            `config`.`value`,
            `config`.`del_flag`,
            `config`.`create_time`,
            `config`.`update_time`
        FROM
            `t_config` AS `config`
        WHERE
            `config`.`key` = #{_parameter}
    </select>

</mapper>