<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.$51zhiyuan.development.kidbridge.dao.IOSIAPProduct">

    <select id="get" parameterType="IOSIAPProduct" resultType="IOSIAPProduct">
        SELECT
            `iosiapProduct`.`id`,
            `iosiapProduct`.`name`,
            `iosiapProduct`.`price`,
            `iosiapProduct`.`product`,
            `iosiapProduct`.`del_flag`,
            `iosiapProduct`.`create_time`,
            `iosiapProduct`.`update_time`
        FROM
            `t_ios_iap_product` AS `iosiapProduct`
        WHERE
            `iosiapProduct`.`del_flag` = FALSE
            <if test="product != null and product != ''">
                AND `iosiapProduct`.`product` = #{product}
            </if>
    </select>

    <select id="list" parameterType="IOSIAPProduct" resultType="IOSIAPProduct">
        SELECT
            `iosiapproduct`.`name`,
            `iosiapproduct`.`product`
        FROM
            `t_ios_iap_product` AS `iosiapproduct`
        WHERE
            `iosiapproduct`.`del_flag` = FALSE
    </select>

</mapper>